{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Multites{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen"/>
    <link href="{% static "base.css" %}" rel="stylesheet" media="screen"/>
    {% block base_styles %} {% endblock %}

    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    {% block base_script %} {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "lib/html5shiv/dist/html5shiv.js" %}"></script>
      <script src="{% static "lib/respond/dest/respond.min.js" %}"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
    {% block messages %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
  {% block body_script %}{% endblock %}
  </body>
</html>