{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block base_styles %}
<link href="{% static "registration/login.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
        <h2 class="form-signin-heading">Benvenuto</h2>
        {% csrf_token %}
    	{{ form|crispy }}    	
    	<button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
    	<input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}