{% extends 'erp/base_nav.html' %}
{% load staticfiles %}

{% block body_script %}
<script type="text/javascript">
    $("#nav_home").addClass("active");
</script>
{% endblock %}

{% block content %}
    <div class='container'>
        <form id="search-form" action="." method="get" role="form">
            <div class="form-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-2">
                      </div>
                      <div class="col-lg-8">
                        <div class="input-group">
                          {{ form.q }}
                          <span class="input-group-btn">
                            <button type="submit" value="Search" class="btn btn-primary">Cerca</button>
                          </span>
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                      <div class="col-lg-2">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </form>

        {% if query %}
        <h2>Risultati</h2>
        <table class="table table-striped table-condensed">
        {% for result in page.object_list %}
                <tr>
                  {% if result.content_type == "erp.contact" %}
                  <td><span class="glyphicon glyphicon-user"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.work" %}
                  <td><span class="glyphicon glyphicon-briefcase"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.document" %}
                  <td><span class="glyphicon glyphicon-folder-open"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.call" %}
                  <td><span class="glyphicon glyphicon-earphone"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.note" %}
                  <td><span class="glyphicon glyphicon-pushpin"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.phonenumber" %}
                  <td><span class="glyphicon glyphicon-phone"></span></td>
                  {% endif %}
                  {% if result.content_type == "erp.workstatustransition" %}
                  <td><span class="glyphicon glyphicon-briefcase"></span> <span class="glyphicon glyphicon-tasks"></span></td>
                  {% endif %}
                  <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
                </tr>                           
        {% empty %}
            <tr><td>Nessun risultato.</td></tr>                
        {% endfor %}
        </table>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

    </div>

{% endblock %}