{% extends 'erp/base.html' %}

{% block nav %}
<!-- top bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Multites</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="nav_home">
          <a href="{% url 'views.index' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li id="nav_contacts" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Contatti <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'views.contact' %}"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
              <li><a href="{% url 'views.contact.create' %}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a></li>
          </ul>
        </li>
        <li id="nav_works" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-briefcase"></span> Pratiche <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'views.work' %}"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
              <li><a href="{% url 'views.work.create' %}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a></li>
          </ul>
        </li>
        <li id="nav_calls" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-earphone"></span> Chiamate <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'views.call' %}"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
              <li><a href="{% url 'views.call.create' %}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a></li>
          </ul>
        </li>
        <li id="nav_documents" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span> Documenti <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'views.document' %}"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
              <li><a href="{% url 'views.document.create' %}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a></li>
          </ul>
        </li>
        <li id="nav_notes" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-pushpin"></span> Note <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'views.note' %}"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
              <li><a href="{% url 'views.note.create' %}"><span class="glyphicon glyphicon-plus"></span> Aggiungi</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {{user.username}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'views.logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- bottom bar -->
<!--<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    
    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Cerca</button>
      </form>        
    </div>
  </div>
</nav>-->
{% endblock %}

