{% extends 'erp/base_nav.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block base_scripts %}
	{% include 'autocomplete_light/static.html' %}
	{% include 'erp/include_script_datatable.html' %}
	{% include 'erp/include_script_datepicker.html' %}
{% endblock %}

{% block base_styles %}	
	{% include 'erp/include_style_datatable.html' %}
	{% include 'erp/include_style_datepicker.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block custom_scripts %}
	{% include 'erp/include_datatable_setting_noSearch.html' %}
{% endblock %}

{% block body_script %}
<script type="text/javascript">
		$("#nav_calls").addClass("active");
</script>
<script type="text/javascript">
		$('.dateinput').datepicker({
			format: 'dd/mm/yyyy',
			language: 'it'
		});
</script>
{% endblock %}

{% block content %}
	<div class="container2" >
		<form id="call-form" action="." method="post" class="form">
			<div class="row container2">
				<div class="col-md-6">
					<h4><span class="glyphicon glyphicon-earphone"></span> {% if call %}{{ call }}{% else %}Nuova chiamata{% endif %}</h4>
				</div>
				<div class="col-md-6">
					<div class="form-control-right">
						{% if call %}
						<a href="{% url 'views.note.create.call' call.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Nota</a>
						{% else %}{% endif %}
						<button class="btn btn-success" type="submit">Salva</button>
						{% if call %}<a class="btn btn-danger" href="{% url 'views.call.delete' call.id %}" role="button">Elimina</a>{% else %}{% endif %}
					</div>
				</div>
			</div>
			<div class="panel panel-default" >
	  			<div class="panel-body">
				    <ul class="nav nav-tabs">
		  				<li class="active"><a href="#tab-data" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Dati</a></li>
		  				<li><a href="#tab-note" data-toggle="tab"><span class="glyphicon glyphicon-pushpin"></span> Note</a></li>
					</ul>
				    <div class="tab-content">
					    <div class="tab-pane active" id="tab-data">
					    	<div class="container2" >
					    	{% csrf_token %}	    
					    	{{ form|crispy }}
					    	</div>
					    </div>
					    <div class="tab-pane" id="tab-note">
							<div class="container2" >
								{% if note_datatable %}{{ note_datatable }}{% else %}{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>	
		</form>		
	</div>
{% endblock %}