{% extends 'erp/base_nav.html' %}
{% load staticfiles %}

{% block body_script %}
	<script type="text/javascript">
		$("#nav_contacts").addClass("active");
	</script>
{% endblock %}

{% block content %}
	<h2>Confermi l'eliminazione di "{{ contact }}"?</h2>

	<p>
	Se confermi, saranno eliminati anche i numeri di telefono associati a {{ contact }}.
	</p>

	<form action="." method="post" class="form">
	  {% csrf_token %}
	  <input class="btn btn-danger" type="submit" value="Si, elimina.">
	  <a class="btn btn-default" href="{% url 'views.contact.update' contact.id %}" role="button">No</a>
	</form>
{% endblock %}