 {% extends 'erp/base_nav.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block base_scripts %}
	{% include 'autocomplete_light/static.html' %}
	{% include 'erp/include_script_datatable.html' %}
	{% include 'erp/include_script_formset.html' %}
{% endblock %}

{% block base_styles %}	
	{% include 'erp/include_style_datatable.html' %}
	{% include 'erp/include_style_formset.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block custom_scripts %}
	<script type="text/javascript">
		$(function() {
            $('#tab-address .formset-container').formset({
            	prefix: '{{ address_formset.prefix }}',
                formCssClass: 'dynamic-address-formset',
               	addText : '<span class="glyphicon glyphicon-plus"></span> Aggiungi',
               	deleteText : '<span class="glyphicon glyphicon-remove"></span>',
            });
            $('#tab-phoneNumber .formset-container').formset({
            	prefix: '{{ phoneNumber_formset.prefix }}',
                formCssClass: 'dynamic-phoneNumber-formset',
               	addText : '<span class="glyphicon glyphicon-plus"></span> Aggiungi',
               	deleteText : '<span class="glyphicon glyphicon-remove"></span>',
            });
        });
	</script>
	<script type="text/javascript">
		//this lies prov and city fields
		$(document).ready(function() {
		    $('body').on('change', '.autocomplete-light-widget select[name$=prov]', function() {
		        var provSelectElement = $(this);
		        var citySelectElement = $('#' + $(this).attr('id').replace('prov', 'city'));
		        var cityWidgetElement = citySelectElement.parents('.autocomplete-light-widget');
		        // When the country select changes
		        value = $(this).val();
		        if (value) {
		            // If value is contains something, add it to autocomplete.data
		            cityWidgetElement.yourlabsWidget().autocomplete.data = {
		                'prov': value[0],
		            };
		        } else {
		            // If value is empty, empty autocomplete.data
		            cityWidgetElement.yourlabsWidget().autocomplete.data = {}
		        }
		    })
		});
	</script>
	{% include 'erp/include_datatable_setting_noSearch.html' %}
{% endblock %}

{% block body_script %}
	<script type="text/javascript">
		$("#nav_contacts").addClass("active");
	</script>
{% endblock %}

{% block content %}
	<div class="container2" >
		<form id="contact-form" action="." method="post" class="form">
			<div class="row container2">
				<div class="col-md-4">
					<h4><span class="glyphicon glyphicon-user"></span> {% if contact %}{{ contact }}{% else %}Nuovo contatto{% endif %}</h4>
				</div>
				<div class="col-md-8">
					<div class="form-control-right">
						{% if contact %}
						<a href="{% url 'views.work.create.contact' contact.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Pratica</a>
						<a href="{% url 'views.call.create.contact' contact.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Chiamata</a>
						<a href="{% url 'views.document.create.contact' contact.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Documento</a>
						<a href="{% url 'views.note.create.contact' contact.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Nota</a>
						{% else %}{% endif %}
						<button class="btn btn-success" type="submit">Salva</button>
						{% if contact %}
						<a class="btn btn-danger" href="{% url 'views.contact.delete' contact.id %}" role="button">Elimina</a>
						{% else %}{% endif %}
					</div>
				</div>
			</div>
			<div class="panel panel-default" >
				<!--<div class="panel-heading">
					{% if contact %}{{ contact }}{% else %}Nuovo contatto{% endif %}
				</div>-->
	  			<div class="panel-body">
				    <ul class="nav nav-tabs">
		  				<li class="active"><a href="#tab-data" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Dati</a></li>
		  				<li><a href="#tab-phoneNumber" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"></span> Numeri telefonici</a></li>
		  				<li><a href="#tab-work" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span> Pratiche</a></li>
		  				<li><a href="#tab-call" data-toggle="tab"><span class="glyphicon glyphicon-earphone"></span> Chiamate</a></li>
		  				<li><a href="#tab-document" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span> Documenti</a></li>
		  				<li><a href="#tab-note" data-toggle="tab"><span class="glyphicon glyphicon-pushpin"></span> Note</a></li>
					</ul>
				    <div class="tab-content">
					    <div class="tab-pane active" id="tab-data">
					    	<div class="container2" >
					    	{% csrf_token %}	    
					    	{{ form|crispy }}
					    	</div>
					    </div>
						<div class="tab-pane" id="tab-phoneNumber">
							<div class="container2 form-inline" >
							{{ phoneNumber_formset.management_form|crispy }}
							{% if phoneNumber_formset.non_form_errors %}<div class="alert alert-danger" role="alert">{{ phoneNumber_formset.non_form_errors }}</div>{% else %}{% endif %}
							{{ phoneNumber_formset.non_form_errors }}
							<fieldset>
	    					{% for form in phoneNumber_formset.forms %}
	    						<div class="container2 formset-container row"> {{ form|crispy }} </div>
	    					{% endfor %}
	    					</fieldset>
							</div>
						</div>
						<div class="tab-pane" id="tab-work">
							<div class="container2" >
								{% if work_datatable %}{{ work_datatable }}{% else %}{% endif %}
							</div>
						</div>
						<div class="tab-pane" id="tab-call">
							<div class="container2" >
								{% if call_datatable %}{{ call_datatable }}{% else %}{% endif %}
							</div>
						</div>
						<div class="tab-pane" id="tab-document">
							<div class="container2" >
								{% if document_datatable %}{{ document_datatable }}{% else %}{% endif %}
							</div>
						</div>
						<div class="tab-pane" id="tab-note">
							<div class="container2" >
								{% if note_datatable %}{{ note_datatable }}{% else %}{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>	
		</form>		
	</div>
{% endblock %}