{% extends 'erp/base_nav.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block base_scripts %}
	{% include 'autocomplete_light/static.html' %}
	{% include 'erp/include_script_datepicker.html' %}
{% endblock %}

{% block base_styles %}
	{% include 'erp/include_style_datepicker.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block body_script %}
<script type="text/javascript">
		$("#nav_documents").addClass("active");
</script>
<script type="text/javascript">
		$('.dateinput').datepicker({
			format: 'dd/mm/yyyy',
			language: 'it'
		});
</script>
{% endblock %}

{% block content %}
	<div class="container2" >
		<form id="document-form" enctype="multipart/form-data" action="." method="post" class="form">
			<div class="row container2">
				<div class="col-md-4">
					<h4><span class="glyphicon glyphicon-folder-open"></span> {% if document %}{{ document }}{% else %}Nuovo documento{% endif %}</h4>
				</div>
				<div class="col-md-8">
					<div class="form-control-right">
						<button class="btn btn-success" type="submit">Salva</button>
						{% if document %}<a class="btn btn-danger" href="{% url 'views.document.delete' document.id %}" role="button">Elimina</a>{% else %}{% endif %}
					</div>
				</div>
			</div>
			<div class="panel panel-default" >
	  			<div class="panel-body">
				    <ul class="nav nav-tabs">
		  				<li class="active"><a href="#tab-data" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Dati</a></li>
					</ul>
				    <div class="tab-content">
					    <div class="tab-pane active" id="tab-data">
					    	<div class="container2" >
					    	{% csrf_token %}	    
					    	{{ form|crispy }}
					    	</div>
					    </div>
					</div>
				</div>
			</div>	
		</form>		
	</div>
{% endblock %}