{% extends 'erp/base_nav.html' %}
{% load staticfiles %}

{% block body_script %}
<script type="text/javascript">
		$("#nav_documents").addClass("active");
</script>
{% endblock %}

{% block content %}	
	<h2>Confermi l'eliminazione di "{{ document }}"?</h2>

	<p>
	
	</p>

	<form action="." method="post" class="form">
	  {% csrf_token %}
	  <input class="btn btn-danger" type="submit" value="Si, elimina.">
	  <a class="btn btn-default" href="{% url 'views.document.update' document.id %}" role="button">No</a>
	</form>
{% endblock %}