{% load staticfiles %}
<!-- datatables -->
<script type="text/javascript" src="{% static "erp/lib/DataTables/media/js/jquery.dataTables.min.js" %}" ></script>  
<script type="text/javascript" src="{% static "erp/lib/DataTables_Plugins/integration/bootstrap/3/dataTables.bootstrap.js" %}" ></script>
<script type="text/javascript" src="{% static "erp/lib/DataTables_Plugins/api/fnSetFilteringDelay.js" %}"></script>
<script type="text/javascript" charset="utf8" src="{% static "js/datatableview.min.js" %}"></script>