{% load staticfiles %}
<!-- datepicker -->
<script type="text/javascript" src="{% static "erp/lib/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "erp/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.it.js" %}"></script>