{% extends 'erp/base_nav.html' %}
{% load staticfiles %}
{% block body_script %}
<script type="text/javascript">
	$("#nav_home").addClass("active");
</script>
{% endblock %}

{% block content %}
<div class='container'>
    <form id="search-form" action="{% url "haystack_search" %}" method="get" role="form">
        <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-2">
                  </div>
                  <div class="col-lg-8">
                    <div class="input-group">
                      {{ form.q }}
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-2">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </form>    
    <!--<div class="jumbotron">
        <div class="container">
            <h2>Benvenuto nel gestionale Multites</h2>
            <h4>Inizia cercando nella barra in basso oppure dal menù in alto.</h4>
        </div>
    </div>-->
</div>
{% endblock %}