{% extends 'erp/base_nav.html' %}
{% load staticfiles %}

{% block base_scripts %}
	{% include 'erp/include_script_datatable.html' %}
{% endblock %}

{% block base_styles %}	
	{% include 'erp/include_style_datatable.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
	<style type="text/css">
		.datatable th[data-name="titolo"] {
			width: 10%;
		}
		.datatable th[data-name="testo"] {
			width: 20%;
		}
		.datatable th[data-name="modificato-il"] {
			width: 12%;
		}
		.datatable th[data-name="contatto"] {
			width: 10%;
		}
		.datatable th[data-name="chiamata"] {
			width: 10%;
		}
		.datatable th[data-name="pratica"] {
			width: 17%;
		}
		.datatable th[data-name="tag"] {
			width: 13%;
		}
		.datatable th[data-name="info"] {
			width: 8%;
		}
	</style>
{% endblock %}

{% block custom_scripts %}
	{% include 'erp/include_datatable_setting.html' %}
{% endblock %}

{% block body_script %}
<script type="text/javascript">
		$("#nav_notes").addClass("active");
</script>
{% endblock %}

{% block content %}
	<div class="container2">
    {{ datatable }}
    </div>
{% endblock %}