{% extends 'erp/base_nav.html' %}
{% load staticfiles %}

{% block base_scripts %}
	{% include 'erp/include_script_datatable.html' %}
{% endblock %}

{% block base_styles %}	
	{% include 'erp/include_style_datatable.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block custom_scripts %}
	{% include 'erp/include_datatable_setting.html' %}
{% endblock %}

{% block body_script %}
<script type="text/javascript">
		$("#nav_works").addClass("active");
</script>

{% endblock %}

{% block content %}
	<div class="container2">
    {{ datatable }}
    </div>
{% endblock %}