{% extends 'erp/base_nav.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block base_scripts %}
	{% include 'autocomplete_light/static.html' %}
	{% include 'erp/include_script_datatable.html' %}
	{% include 'erp/include_script_datepicker.html' %}
	{% include 'erp/include_script_formset.html' %}
{% endblock %}

{% block base_styles %}	
	{% include 'erp/include_style_datatable.html' %}
	{% include 'erp/include_style_datepicker.html' %}
	{% include 'erp/include_style_formset.html' %}
{% endblock %}

{% block custom_styles %}
	<link href="{% static "erp/base.css" %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block custom_scripts %}
	<script type="text/javascript">
		$(function() {
            $('#tab-status .formset-container').formset({
            	prefix: '{{ workstatustransition_formset.prefix }}',
                formCssClass: 'dynamic-address-formset',
               	addText : '<span class="glyphicon glyphicon-plus"></span> Aggiungi',
               	deleteText : '<span class="glyphicon glyphicon-remove"></span>',
               	//deleteText : '',
               	added : function(row) { 
               		$('.dateinput').datepicker({
						format: 'dd/mm/yyyy',
						language: 'it'
					});
				} 
            });
        });
	</script>
	<script type="text/javascript">
		$(function() {
			$('.dateinput').datepicker({
				format: 'dd/mm/yyyy',
				language: 'it'
			});
		});
	</script>
	{% include 'erp/include_datatable_setting_noSearch.html' %}
{% endblock %}

{% block body_script %}
<script type="text/javascript">
	$(function() {
		$("#nav_works").addClass("active");
	});
</script>
{% endblock %}

{% block content %}
	<div class="container2" >
		<form id="work-form" enctype="multipart/form-data" action="." method="post" class="form">
			<div class="row container2">
				<div class="col-md-6">
					<h4><span class="glyphicon glyphicon-briefcase"></span> {% if work %}{{ work }}{% else %}Nuova pratica{% endif %}</h4>
				</div>
				<div class="col-md-6">
					<div class="form-control-right">
						{% if work %}
						<a href="{% url 'views.call.create.work' work.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Chiamata</a>
						<a href="{% url 'views.document.create.work' work.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Documento</a>
						<a href="{% url 'views.note.create.work' work.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Nota</a>
						{% else %}{% endif %}
						<button class="btn btn-success" type="submit">Salva</button>
						{% if work %}<a class="btn btn-danger" href="{% url 'views.work.delete' work.id %}" role="button">Elimina</a>{% else %}{% endif %}
					</div>
				</div>
			</div>
			<div class="panel panel-default" >
	  			<div class="panel-body">
				    <ul class="nav nav-tabs">
		  				<li class="active"><a href="#tab-data" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Dati</a></li>
		  				<li><a href="#tab-status" data-toggle="tab"><span class="glyphicon glyphicon-time"></span> Stato</a></li>
		  				<li><a href="#tab-document" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span> Documenti</a></li>
		  				<li><a href="#tab-call" data-toggle="tab"><span class="glyphicon glyphicon-earphone"></span> Chiamate</a></li>
		  				<li><a href="#tab-note" data-toggle="tab"><span class="glyphicon glyphicon-pushpin"></span> Note</a></li>
					</ul>
				    <div class="tab-content">				    	
					    <div class="tab-pane active" id="tab-data">
					    	<div class="container2" >
					    	{% csrf_token %}	    
					    	{{ form|crispy }}
					    	</div>
					    </div>
					    <div class="tab-pane" id="tab-status">
					    	<div class="container2 form-inline" >
					    	{{ workstatustransition_formset.management_form|crispy }}
					    	{% if workstatustransition_formset.non_form_errors %}<div class="alert alert-danger" role="alert">{{ workstatustransition_formset.non_form_errors }}</div>{% else %}{% endif %}
					    	<fieldset>
	    					{% for form in workstatustransition_formset.forms %}
	    						<div class="container2 formset-container row"> {{ form|crispy }} </div>
	    					{% endfor %}
	    					</fieldset>
					    	</div>
					    </div>
					    <div class="tab-pane" id="tab-document">
					    	<div class="container2" >
					    		{% if document_datatable %}{{ document_datatable }}{% else %}{% endif %}
					    	</div>
					    </div>
					    <div class="tab-pane" id="tab-call">
					    	<div class="container2" >
					    		{% if call_datatable %}{{ call_datatable }}{% else %}{% endif %}
					    	</div>
					    </div>
					    <div class="tab-pane" id="tab-note">
					    	<div class="container2" >
					    		{% if note_datatable %}{{ note_datatable }}{% else %}{% endif %}
					    	</div>
					    </div>
					</div>
				</div>
			</div>	
		</form>		
	</div>
{% endblock %}